.puz {
	border: 10px;
}

.p {
    height: 13px;
    width: 13px;
    border-radius: 13px;
    background-color: white;
    z-index: 1;
	user-select: none;
}

.l1 {
	width: 55px;
	height: 7px;
	background-color: white;
	color: red;
	text-align: center;
	user-select: none;
}

.l2 {
	height: 55px;
	width: 7px;
	background-color: white;
	color: red;
	text-align: center;
	user-select: none;
}

.n {
	height: 50px;
	width: 50px;
	line-height: 49px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	user-select: none;
}

.c1 {
    z-index: 1;
	user-select: none;
	background-color: red;
	height: 20px;
	width: 4px;
    border-radius: 20px;
}

.c2 {
	z-index: 1;
	user-select: none;
	background-color: red;
	width: 20px;
	height: 4px;
	border-radius: 20px;
}

.btm {
	border-color: black;
	border-style: solid;
	user-select: none;
	border-color: balck;
	font-family: Consolas;
	border-width: 2px; 
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 6px;
	font-size: 20px;
}

.End {
	font-family: Serif;
	font-size: 20px;
	color: black;
	text-decoration: none;	
}
